In [8]:
import pandas as pd
df = pd.read_csv("C:/Users/vamsh/Downloads/Housing.csv")

In [9]:
# feature Scaling
l2 = ['price','lotsize']
from sklearn.preprocessing import MinMaxScaler
mm = MinMaxScaler()
for i in l2:
    df[i] = mm.fit_transform(df[[i]])

In [10]:
# Label Encoder
l1 = ['driveway','recroom', 'fullbase', 'gashw', 'airco', 'prefarea']
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for i in l1:
    df[i] = le.fit_transform(df[i])
    
df.head()

,Unnamed: 0,price,lotsize,bedrooms,bathrms,stories,driveway,recroom,fullbase,gashw,airco,garagepl,prefarea
0,1,0.103030,0.288660,3,1,2,1,0,1,0,0,1,0
1,2,0.081818,0.161512,2,1,1,1,0,0,0,0,0,0
2,3,0.148485,0.096907,3,1,1,1,0,0,0,0,0,0
3,4,0.215152,0.343643,3,1,2,1,1,0,0,0,0,0
4,5,0.218182,0.323711,2,1,1,1,0,0,0,0,0,0

In [11]:
del df['Unnamed: 0']

In [12]:
df.head()

,price,lotsize,bedrooms,bathrms,stories,driveway,recroom,fullbase,gashw,airco,garagepl,prefarea
0,0.103030,0.288660,3,1,2,1,0,1,0,0,1,0
1,0.081818,0.161512,2,1,1,1,0,0,0,0,0,0
2,0.148485,0.096907,3,1,1,1,0,0,0,0,0,0
3,0.215152,0.343643,3,1,2,1,1,0,0,0,0,0
4,0.218182,0.323711,2,1,1,1,0,0,0,0,0,0

# Polynomial Regression

In [30]:
x = df[['lotsize']]
y = df['price']
from sklearn.preprocessing import PolynomialFeatures
pf = PolynomialFeatures(degree = 2)
xpoly = pf.fit_transform(x)

In [31]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(xpoly, y, test_size = 0.2, random_state = 1, shuffle = True)

In [32]:
# from sklearn.linear_model import LinearRegression
# pr = LinearRegression()
# pr.fit(xtrain, ytrain)
# print("m = ",pr.coef_)
# print("b = ",pr.intercept_)

In [33]:
# ypred = pr.predict(xtest)
# from sklearn.metrics import r2_score
# r2_score(ytest, ypred)

In [34]:
from sklearn.linear_model import LinearRegression
slr = LinearRegression()
slr.fit(xtrain, ytrain)
print("m = ",slr.coef_)
print("b = ",slr.intercept_)

m =  [ 0.          1.13844487 -0.82801698]
b =  0.05077279461664175

In [35]:
ypred = slr.predict(xtest)
from sklearn.metrics import r2_score
r2_score(ytest, ypred)

0.3040222966832924

# Solution for Overfitting

# <h2> Shrinkage Methods </h2>

In [36]:
print("Training Accuracy = ", slr.score(xtrain, ytrain))   # .score acts same as r2_score but it is more easy to use
print("Testing Accuracy = ", slr.score(xtest, ytest))

Training Accuracy =  0.3261640692558123
Testing Accuracy =  0.3040222966832924

In [37]:
from sklearn.linear_model import Lasso  # Lasso brings the value of (m) intercept to zero
l1 = Lasso()
l1.fit(xtrain, ytrain)
print("m = ",l1.coef_, " and b = ", l1.intercept_)

m =  [0. 0. 0.]  and b =  0.25817267167083685

In [38]:
from sklearn.linear_model import Ridge  # Ridge brings the value of (m) intercept near to each other
l2 = Ridge()
l2.fit(xtrain, ytrain)
print("m = ",l2.coef_, " and b = ", l2.intercept_)

m =  [ 0.          0.58275274 -0.09295911]  and b =  0.12565323200151216

In [39]:
from sklearn.linear_model import ElasticNet  # Applies both l1 and l2 regression
l3 = ElasticNet()
l3.fit(xtrain, ytrain)
print("m = ",l3.coef_, " and b = ", l3.intercept_)

m =  [0. 0. 0.]  and b =  0.25817267167083685

In [40]:
print("Lasso Accuracy = ", l1.score(xtest, ytest))
print("Ridge Accuracy = ", l2.score(xtest, ytest))
print("ElasticNet Accuracy = ", l3.score(xtest, ytest))

Lasso Accuracy =  -0.00926118574371615
Ridge Accuracy =  0.28551591871372317
ElasticNet Accuracy =  -0.00926118574371615