FeatureSelection: (Used only when we have the clearity of what is x and y)

Selecting the *Significant features* :
1. SelectKbest
2. Variable Importance(later in course)

1: K best requires X and Y parameters
 For Classification problems, use Chi2 method
 For Regression problems, use f_regression

In [3]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2, f_regression

In [4]:
import pandas as pd
df = pd.read_csv("C:/Users/vamsh/Downloads/Iris-f.csv")

In [5]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Species'] = le.fit_transform(df['Species'])
y = df["Species"]

In [6]:
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0              5.1           3.5            1.4           0.2        0
1              4.9           3.0            1.4           0.2        0
2              4.7           3.2            1.3           0.2        0
3              4.6           3.1            1.5           0.2        0
4              NaN           3.6            1.4           0.2        0
..             ...           ...            ...           ...      ...
145            6.7           3.0            5.2           2.3        2
146            6.3           2.5            5.0           1.9        2
147            6.5           3.0            5.2           2.0        2
148            6.2           3.4            5.4           2.3        2
149            5.9           3.0            5.1           1.8        2

[150 rows x 5 columns]

In [9]:
sk = SelectKBest(chi2, k = 2)  # k represents number of argumnets to be passed
slect = sk.fit_transform(xscaled,y)
# cols = sk.get_support(indices = True)
# cols

NameError: name 'xscaled' is not defined