In [1]:
import pandas as pd
df = pd.read_csv("C:/Users/vamsh/Downloads/Housing.csv")

In [2]:
# feature Scaling
l2 = ['price','lotsize']
from sklearn.preprocessing import MinMaxScaler
mm = MinMaxScaler()
for i in l2:
    df[i] = mm.fit_transform(df[[i]])

In [3]:
# Label Encoder
l1 = ['driveway','recroom', 'fullbase', 'gashw', 'airco', 'prefarea']
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for i in l1:
    df[i] = le.fit_transform(df[i])
    
df.head()

,Unnamed: 0,price,lotsize,bedrooms,bathrms,stories,driveway,recroom,fullbase,gashw,airco,garagepl,prefarea
0,1,0.103030,0.288660,3,1,2,1,0,1,0,0,1,0
1,2,0.081818,0.161512,2,1,1,1,0,0,0,0,0,0
2,3,0.148485,0.096907,3,1,1,1,0,0,0,0,0,0
3,4,0.215152,0.343643,3,1,2,1,1,0,0,0,0,0
4,5,0.218182,0.323711,2,1,1,1,0,0,0,0,0,0

In [4]:
del df['Unnamed: 0']

In [5]:
df.head()

,price,lotsize,bedrooms,bathrms,stories,driveway,recroom,fullbase,gashw,airco,garagepl,prefarea
0,0.103030,0.288660,3,1,2,1,0,1,0,0,1,0
1,0.081818,0.161512,2,1,1,1,0,0,0,0,0,0
2,0.148485,0.096907,3,1,1,1,0,0,0,0,0,0
3,0.215152,0.343643,3,1,2,1,1,0,0,0,0,0
4,0.218182,0.323711,2,1,1,1,0,0,0,0,0,0

# Polynomial Regression

In [6]:
x = df[['lotsize']]
y = df['price']
from sklearn.preprocessing import PolynomialFeatures
pf = PolynomialFeatures(degree = 2)
xpoly = pf.fit_transform(x)

In [8]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(xpoly, y, test_size = 0.2, random_state = 1, shuffle = True)

In [10]:
from sklearn.linear_model import LinearRegression
pr = LinearRegression()
pr.fit(xtrain, ytrain)
print("m = ",pr.coef_)
print("b = ",pr.intercept_)

m =  [ 0.          1.13844487 -0.82801698]
b =  0.05077279461664175

In [12]:
ypred = pr.predict(xtest)
from sklearn.metrics import r2_score
r2_score(ytest, ypred)

0.3040222966832924